In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('EWSGSE967.txt')
data.head()

,31307_at,31309_r_at,31313_at,31314_at,31315_at,31316_at,31317_r_at,31320_at,31321_at,31322_at,...,102_at,103_at,104_at,105_at,106_at,107_at,108_g_at,109_at,class,sample
0,c,c,c,c,c,c,c,c,c,c,...,c,c,c,c,c,c,c,c,d,string
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,class,meta
2,10,10,206.7,217.3,95,1590.1,10,1112.9,118.2,10,...,414.8,672.9,10,5141.4,57.9,10,2595.3,1340.2,EWS,EWS
3,10,10,10,10,289.1,10,2350.7,207.4,456.3,402.9,...,315.3,1458,10,530.7,1618.1,55.5,567.4,2517.4,EWS,EWS
4,10,10,10,10,606.2,316.1,1061.9,10,488.2,98.1,...,814.4,1189.7,97.9,431.2,2856.7,10,10,3572.6,EWS,EWS

In [ ]:
data = data.drop(data.index[[0,1]])
data = data.drop(['sample'], axis=1)
data.index=range(0,len(data),1)
data.head()

,31307_at,31309_r_at,31313_at,31314_at,31315_at,31316_at,31317_r_at,31320_at,31321_at,31322_at,...,101_at,102_at,103_at,104_at,105_at,106_at,107_at,108_g_at,109_at,class
0,10,10,206.7,217.3,95,1590.1,10,1112.9,118.2,10,...,226.2,414.8,672.9,10,5141.4,57.9,10,2595.3,1340.2,EWS
1,10,10,10,10,289.1,10,2350.7,207.4,456.3,402.9,...,1597.2,315.3,1458,10,530.7,1618.1,55.5,567.4,2517.4,EWS
2,10,10,10,10,606.2,316.1,1061.9,10,488.2,98.1,...,318.6,814.4,1189.7,97.9,431.2,2856.7,10,10,3572.6,EWS
3,10,124,10,174.7,331.8,253.3,1227.3,372.7,462.1,10,...,734.5,10,1692,338.4,10,7958.5,481.1,10,2695.1,EWS
4,10,10,10,74.9,10,10,1719.8,10,748.5,245.7,...,10,403.5,2527.6,518.1,10,1772.2,933.2,10,1754.4,EWS

In [ ]:
data.dropna()
data.isnull().sum()

31307_at      0
31309_r_at    0
31313_at      0
31314_at      0
31315_at      0
             ..
106_at        0
107_at        0
108_g_at      0
109_at        0
class         0
Length: 9946, dtype: int64

In [ ]:
dict = {
    'class':{
        'EWS':0,
        'RMS':1
    }
}   
data=data.replace(dict)
data.head()

,31307_at,31309_r_at,31313_at,31314_at,31315_at,31316_at,31317_r_at,31320_at,31321_at,31322_at,...,101_at,102_at,103_at,104_at,105_at,106_at,107_at,108_g_at,109_at,class
0,10,10,206.7,217.3,95,1590.1,10,1112.9,118.2,10,...,226.2,414.8,672.9,10,5141.4,57.9,10,2595.3,1340.2,0
1,10,10,10,10,289.1,10,2350.7,207.4,456.3,402.9,...,1597.2,315.3,1458,10,530.7,1618.1,55.5,567.4,2517.4,0
2,10,10,10,10,606.2,316.1,1061.9,10,488.2,98.1,...,318.6,814.4,1189.7,97.9,431.2,2856.7,10,10,3572.6,0
3,10,124,10,174.7,331.8,253.3,1227.3,372.7,462.1,10,...,734.5,10,1692,338.4,10,7958.5,481.1,10,2695.1,0
4,10,10,10,74.9,10,10,1719.8,10,748.5,245.7,...,10,403.5,2527.6,518.1,10,1772.2,933.2,10,1754.4,0

In [ ]:
X = data.drop(['class'], axis=1)
y = data['class']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.5)
print(len(x_train),len(x_test),len(y_train),len(y_test))

11 12 11 12

In [ ]:
from sklearn.svm import SVC
model1=SVC()
model1.fit(x_train, y_train)
model1.score(x_test,y_test)

0.5833333333333334

In [ ]:
from sklearn.naive_bayes import GaussianNB
model2=GaussianNB()
model2.fit(x_train, y_train)
model2.score(x_test, y_test)

0.5

In [ ]:
from sklearn.tree import DecisionTreeClassifier
model3 = DecisionTreeClassifier()
model3.fit(x_train, y_train)
model3.score(x_test, y_test)

0.5833333333333334

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
model4 = KNeighborsClassifier()
model4.fit(x_train, y_train)
model4.score(x_test,y_test)

0.5833333333333334

In [ ]:
#Correlation

df1 = X
op=y
a1=[]
c1=[]

for i in df1.columns.values:
        df1[i]=df1[i].astype('float64')
        correlation=op.corr(df1[i])
        if correlation>0.2:
            #print(correlation)
            a1.append(correlation)
            c1.append(i)

dfc1=pd.DataFrame(c1)
dfa1=pd.DataFrame(a1)
info1 = pd.concat([dfc1,dfa1], axis=1)
info1.columns = ['name','correlation']
info1

            name  correlation
0       31307_at     0.245531
1     31309_r_at     0.328682
2     31317_r_at     0.431369
3       31320_at     0.254630
4       31321_at     0.328553
...          ...          ...
4414    100_g_at     0.315135
4415      103_at     0.420099
4416      104_at     0.326254
4417      107_at     0.365811
4418      109_at     0.263463

[4419 rows x 2 columns]

In [ ]:
top1 = info1.nlargest(50,'correlation')
SelectedFeatures1= np.array(top1['name'])
SelectedFeatures1

array(['40570_at', '35321_at', '35330_at', '39350_at', '39690_at',
       '38486_at', '36943_r_at', '1664_at', '36308_at', '39542_at',
       '39063_at', '40004_at', '649_s_at', '37749_at', '36118_at',
       '33192_g_at', '41289_at', '1296_at', '41470_at', '35312_at',
       '37605_at', '38031_at', '820_at', '34408_at', '33911_at',
       '33405_at', '36113_s_at', '33929_at', '38713_at', '39327_at',
       '2057_g_at', '659_g_at', '35824_at', '35648_at', '652_g_at',
       '404_at', '35832_at', '35850_at', '32845_at', '41686_s_at',
       '38809_s_at', '39084_at', '37735_at', '484_at', '33404_at',
       '260_at', '36596_r_at', '36114_r_at', '37210_at', '41836_at'],
      dtype=object)

In [ ]:

  
from collections import Counter
from scipy.stats import entropy
import math


def info_gain(Ex, a, nan=True):
    """ Compute the information gain of an attribute a for given examples.
        Parameters
        ----------
        Ex : list of hashable
            A list of hashable objects (examples)
            corresponding to the given attributes a.
            I.e. a[i] <--> Ex[i].
        a : list of hashable
            A list of hashable objects (attributes)
            corresponding to the given examples Ex.
            I.e. a[i] <--> Ex[i].
            
        nan : boolean, default=True
            Boolean indicating how nan==nan should be evaluated.
            Default == True to avoid division by 0 errors.
        Returns
        -------
        result : float
            Information gain by knowing given attributes.
        """
    # Check whether examples and attributes have the same lengths.
    if len(Ex) != len(a):
        raise ValueError("Ex and a must be of the same size.")

    # Compute the entropy of examples
    H_Ex = entropy(list(Counter(Ex).values()))

    # If nan is True, replace all nan values in a by the string "__nan__"
    if nan:
        a = ['__nan__' if isinstance(x, float) and math.isnan(x) else x for x in a]
    
    # Compute the sum of all values v in a
    sum_v = 0
    for v in set(a):
        Ex_a_v = [x for x, t in zip(Ex, a) if t == v]
        sum_v += (len(Ex_a_v) / len(Ex)) *\
                 (entropy(list(Counter(Ex_a_v).values())))

    # Return result
    return H_Ex - sum_v


def intrinsic_value(Ex, a, nan=True):
    """ Compute the intrinsic value of an attribute a for given examples.
        Parameters
        ----------
        Ex : list of hashable
            A list of hashable objects (examples)
            corresponding to the given attributes a.
            I.e. a[i] <--> Ex[i].
        a : list of hashable
            A list of hashable objects (attributes)
            corresponding to the given examples Ex.
            I.e. a[i] <--> Ex[i].
            
        nan : boolean, default=True
            Boolean indicating how nan==nan should be evaluated.
            Default == True to avoid division by 0 errors.
        Returns
        -------
        result : float
            Intrinsic value of attribute a for samples Ex.
        """
    # Check whether examples and attributes have the same lengths.
    if len(Ex) != len(a):
        raise ValueError("Ex and a must be of the same size.")

    # If nan is True, replace all nan values in a by the string "__nan__"
    if nan:
        a = ['__nan__' if isinstance(x, float) and math.isnan(x) else x for x in a]
                
    # Compute the sum of all values v in a
    sum_v = 0
    for v in set(a):
        Ex_a_v = [x for x, t in zip(Ex, a) if t == v]
        sum_v += (len(Ex_a_v) / len(Ex)) * math.log(len(Ex_a_v) / len(Ex), 2)

    # Return result
    return -sum_v


def info_gain_ratio(Ex, a, nan=True):
    """ Compute the information gain ratio of an attribute a for given examples.
        Parameters
        ----------
        Ex : list of hashable
            A list of hashable objects (examples)
            corresponding to the given attributes a.
            I.e. a[i] <--> Ex[i].
        a : list of hashable
            A list of hashable objects (attributes)
            corresponding to the given examples Ex.
            I.e. a[i] <--> Ex[i].
            
        nan : boolean, default=True
            Boolean indicating how nan==nan should be evaluated.
            Default == True to avoid division by 0 errors.
        Returns
        -------
        result : float
            Information gain ratio by knowing given attributes.
            I.e. information gain normalised with intrinsic value calculation.
        """
    # Check whether examples and attributes have the same lengths.
    if len(Ex) != len(a):
        raise ValueError("Ex and a must be of the same size.")

    # Compute information gain ratio as IG/IV
    return info_gain(Ex, a, nan) / intrinsic_value(Ex, a, nan)

In [ ]:

ar=[]
br=[]
for (columnName, columnData) in X.iteritems():
        a=info_gain_ratio(columnData, y)
        ar.append(a)
        br.append(columnName)
a1 = pd.DataFrame(ar)
b1 = pd.DataFrame(br)
info2 = pd.concat([a1,b1], axis=1)
info2.columns = ['Score','Features']
info2

         Score    Features
0     0.253627    31307_at
1     0.379228  31309_r_at
2     0.120911    31313_at
3     0.423969    31314_at
4     0.379228    31315_at
...        ...         ...
9940  0.302509      105_at
9941  0.693147      106_at
9942  0.510816      107_at
9943  0.215756    108_g_at
9944  0.693147      109_at

[9945 rows x 2 columns]

In [ ]:
top2 = info2.nlargest(50,'Score')
SelectedFeatures2= np.array(top2['Features'])
SelectedFeatures2

array(['31588_at', '31719_at', '31906_at', '32434_at', '32437_at',
       '32987_at', '33004_g_at', '33686_at', '34145_at', '34148_at',
       '36331_at', '36332_at', '36390_at', '36392_at', '32313_at',
       '32877_i_at', '33499_s_at', '33956_at', '34481_at', '34531_at',
       '34894_r_at', '35442_at', '35450_s_at', '35492_at', '36261_at',
       '36307_at', '37150_at', '37151_at', '37420_i_at', '37462_i_at',
       '37519_at', '37836_at', '38236_at', '38515_at', '38518_at',
       '38523_f_at', '38527_at', '38576_at', '38922_at', '38951_at',
       '39962_at', '39977_at', '40008_at', '40030_at', '40332_at',
       '40364_at', '40369_f_at', '41049_at', '41418_at', '41440_at'],
      dtype=object)

In [ ]:
#entropy
def entropy(Y):
    unique, count = np.unique(Y, return_counts=True, axis=0)
    prob = count/len(Y)
    en = np.sum((-1)*prob*np.log2(prob))
    return en

#Joint Entropy
def jEntropy(Y,X):
    YX = np.c_[Y,X]
    return entropy(YX)

#conditional entropy
def cEntropy(Y, X):
    return jEntropy(Y, X) - entropy(X)

#gain
def gain(Y, X):
    return entropy(Y) - cEntropy(Y,X)

#SU
def symmetricalUncertain(Y,X):
    n = float(y.shape[0])
    vals = np.unique(Y)
    # Computing Entropy for the feature x. 
    Hx = entropy(X)
    # Computing Entropy for the feature y.
    Hy = entropy(Y)
    #Computing Joint entropy between x and y.
    Hxy = jEntropy(Y,X)
    IG = Hx-Hxy
    return 2*IG/(Hx+Hy)

In [ ]:
top_n1 =[]
for i in X.columns.values:
    X[i]=X[i].astype('float64')
    y=y.astype('float64')
    top_n1.append(symmetricalUncertain(X[i],y))
    
col_name1 = np.array(X.columns)
a1 = pd.DataFrame(top_n1)
b1 = pd.DataFrame(col_name1)
info3 = pd.concat([a1,b1], axis=1)
info3.columns = ['Score','Features']
info3

         Score    Features
0    -1.082757    31307_at
1    -1.201073  31309_r_at
2    -0.834761    31313_at
3    -1.248231    31314_at
4    -1.201073    31315_at
...        ...         ...
9940 -1.163732      105_at
9941 -1.176019      106_at
9942 -1.256785      107_at
9943 -1.044031    108_g_at
9944 -1.265066      109_at

[9945 rows x 2 columns]

In [ ]:
top3 = info3.nlargest(50,'Score')
SelectedFeatures3 = np.array(top3['Features'])
SelectedFeatures3

array(['31593_at', '31698_at', '31947_r_at', '40029_at', '32098_at',
       '32105_f_at', '33745_at', '33783_at', '35691_r_at', '36923_at',
       '41204_s_at', '32817_at', '34399_at', '34410_at', '33153_at',
       '1486_at', '1462_s_at', '999_at', '328_at', '41577_at', '31913_at',
       '32463_at', '33600_at', '37158_at', '38504_at', '39992_at',
       '40159_r_at', '32204_at', '1687_s_at', '1172_at', '378_s_at',
       '341_at', '335_r_at', '31769_at', '35118_at', '35509_at',
       '34485_r_at', '41114_at', '31825_at', '34241_at', '36541_at',
       '38976_at', '39359_s_at', '40809_at', '39177_r_at', '41521_at',
       '2049_s_at', '1597_at', '1504_s_at', '1210_s_at'], dtype=object)

In [ ]:
from functools import reduce
def top_fs_union(n):
    f1 = SelectedFeatures1[:n]
    f2 = SelectedFeatures2[:n]
    f3 = SelectedFeatures3[:n]
    f_3k = reduce(np.union1d, (f1,f2,f3))
    f_2k = ((len(f_3k)*2)//3)
    f_2k_random = np.random.choice(f_3k,f_2k,replace=False)
    f_5k = reduce(np.union1d, (f_3k,f_2k_random))
    return(f_5k)

In [ ]:
f1 = SelectedFeatures1[:5]
f2 = SelectedFeatures2[:5]
f3 = SelectedFeatures3[:5]
f_3k = reduce(np.union1d, (f1,f2,f3))
f_2k = ((len(f_3k)*2)//3)
f_2k_random = np.random.choice(f_3k,f_2k,replace=False)
f_5k = reduce(np.union1d, (f_3k,f_2k_random))
f_5k

array(['31588_at', '31593_at', '31698_at', '31719_at', '31906_at',
       '31947_r_at', '32098_at', '32434_at', '32437_at', '35321_at',
       '35330_at', '39350_at', '39690_at', '40029_at', '40570_at'],
      dtype=object)

In [ ]:
def assemble_run(n,classifier,test_size):
  top_fs=top_fs_union(n)
  top_fs=np.append(top_fs,['class'], axis=0)
  df = data.loc[:,top_fs]
  X = df.drop(['class'], axis=1)
  y = df['class']
  from sklearn.model_selection import train_test_split
  x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=test_size)
  model = classifier()#modify the code ,keep classifier in different function and call here
  model.fit(x_train, y_train)
  print (model.score(x_test,y_test))

In [ ]:
#SUPPORT VECTOR MACHINE
#Feature Subset by Union of 5 Best Features from each
SVM5  = assemble_run(5,SVC,.5)
#Feature Subset by Union of 10 Best Features from each
SVM10 = assemble_run(10,SVC,.5)
#Feature Subset by Union of 20 Best Features from each
SVM20 = assemble_run(20,SVC,.5)
#Feature Subset by Union of 30 Best Features from each
SVM30 = assemble_run(30,SVC,.5)
#Feature Subset by Union of 40 Best Features from each
SVM40 = assemble_run(40,SVC,.5)
#Feature Subset by Union of 50 Best Features from each
SVM50 = assemble_run(50,SVC,.5)

0.5833333333333334
0.8333333333333334
0.8333333333333334
0.9166666666666666
0.9166666666666666
0.9166666666666666

In [ ]:
#K-NEAREST NEIGHBOUR
#Feature Subset by Union of 5 Best Features from each
KNN5 = assemble_run(5,KNeighborsClassifier,.5)
#Feature Subset by Union of 10 Best Features from each
KNN10 = assemble_run(10,KNeighborsClassifier,.5)
#Feature Subset by Union of 20 Best Features from each
KNN20 = assemble_run(20,KNeighborsClassifier,.5)
#Feature Subset by Union of 30 Best Features from each
KNN30 = assemble_run(30,KNeighborsClassifier,.5)
#Feature Subset by Union of 40 Best Features from each
KNN40 = assemble_run(40,KNeighborsClassifier,.5)
#Feature Subset by Union of 50 Best Features from each
KNN50 = assemble_run(50,KNeighborsClassifier,.5)

0.75
0.5833333333333334
1.0
0.6666666666666666
0.6666666666666666
0.5

In [ ]:
#decision tree
#Feature Subset by Union of 5 Best Features from each
DT5  = assemble_run(5,DecisionTreeClassifier,.5)
#Feature Subset by Union of 10 Best Features from each
DT10 = assemble_run(10,DecisionTreeClassifier,.5)
#Feature Subset by Union of 20 Best Features from each
DT20 = assemble_run(20,DecisionTreeClassifier,.5)
#Feature Subset by Union of 30 Best Features from each
DT30 = assemble_run(30,DecisionTreeClassifier,.5)
#Feature Subset by Union of 40 Best Features from each
DT40 = assemble_run(40,DecisionTreeClassifier,.5)
#Feature Subset by Union of 50 Best Features from each
DT50 = assemble_run(50,DecisionTreeClassifier,.5)

0.8333333333333334
0.75
1.0
1.0
0.9166666666666666
0.75

In [ ]:
#NAIVE BAYES
#Feature Subset by Union of 5 Best Features from each
NB5  = assemble_run(5,GaussianNB,.5)
#Feature Subset by Union of 10 Best Features from each
NB10 = assemble_run(10,GaussianNB,.5)
#Feature Subset by Union of 20 Best Features from each
NB20 = assemble_run(20,GaussianNB,.5)
#Feature Subset by Union of 30 Best Features from each
NB30 = assemble_run(30,GaussianNB,.5)
#Feature Subset by Union of 40 Best Features from each
NB40 = assemble_run(40,GaussianNB,.5)
#Feature Subset by Union of 50 Best Features from each
NB50 = assemble_run(50,GaussianNB,.5)

0.9166666666666666
0.9166666666666666
0.5833333333333334
0.5833333333333334
0.75
0.4166666666666667